
.li-style{
    background-color:#F2F2F2;
    border-radius:48px;
    transition:ease-in-out 1ms;
}
.li-style .nav-link{
    color:black !important;
    font-weight:400 !important; 

}
.nav-link{
    color: white !important;
    font-weight:300 !important;
}
@media only screen and (max-width: 768px) {
    /* Apply styles for screens 768px wide or less */
    .display-mobile-none{
      display: none !important;
    }
  }